<footer
  class="flex flex-row justify-center py-8 overflow-visible align-middle border-t -z-10 bg-base-300 text-base-content border-base-300"
>
  <div class="flex gap-4 btm-nav">
    <a class="link link-hover" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <i class="fa-solid fa-house"></i>
      <span class="btm-nav-label">Home</span>
    </a>
    <a class="link link-hover" routerLink="/search" routerLinkActive="active">
      <i class="fa-solid fa-magnifying-glass"></i>
      <span class="btm-nav-label">Search</span>
    </a>
    <a
      class="link link-hover"
      routerLink="/profile"
      routerLinkActive="active"
    >
    <i class="fa-solid fa-user"></i>
    <span class="btm-nav-label">Profile</span>
    </a>
  </div>
</footer>