<div class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="relative w-full max-w-sm p-6 bg-white rounded shadow-lg">
      <!-- Bouton de fermeture -->
      <button class="absolute text-2xl top-2 right-2" (click)="closeSelector()">×</button>
  
      <!-- Contenu du sélecteur de profil -->
      <h2 class="mb-4 text-lg font-bold">Sélectionner un compte</h2>
      <div class="profile-list-container">
        <ul class="space-y-4">
          <li *ngFor="let profile of profiles; let i = index"
              class="flex items-center justify-between p-2 rounded-lg cursor-pointer"
              [ngClass]="{'bg-teal-600 text-white': profile.username === currentProfile?.username, 'bg-teal-100 text-teal-900': profile.username !== currentProfile?.username}"
              (click)="selectProfile(profile)">
            <div class="flex items-center">
              <div *ngIf="profile.photo" class="avatar">
                <div class="w-12 h-12 rounded-full">
                  <img class="rounded-full" [src]="profile.photo" alt="Photo de profil">
                </div>
              </div>
              <div *ngIf="!profile.photo" class="avatar placeholder">
                <div class="flex items-center justify-center w-12 h-12 rounded-full bg-neutral text-neutral-content">
                  <span class="text-xl">{{ profile.username | slice:0:2 }}</span>
                </div>
              </div>
              <p class="ml-4 font-bold">{{ profile.username }}</p>
            </div>
            <div class="flex items-center gap-2" *ngIf="profile.username === currentProfile?.username">
              <button class="btn btn-primary btn-square" (click)="editProfile(profile); $event.stopPropagation();">
                <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-error btn-square" (click)="deleteProfile(profile.id); $event.stopPropagation();" aria-label="Supprimer le profil">
                <i class="fas fa-trash-alt"></i>
              </button>
              <button class="btn btn-secondary btn-square" (click)="showProfileDetails(profile); $event.stopPropagation();" aria-label="Voir les détails">
                <i class="fas fa-info-circle"></i>
              </button>
            </div>
            <div class="flex items-center" *ngIf="profile.username !== currentProfile?.username">
              <button class="btn btn-ghost btn-circle" (click)="showProfileDetails(profile); $event.stopPropagation();" aria-label="Voir les détails">
                <i class="fas fa-ellipsis-v"></i>
              </button>
            </div>
          </li>
        </ul>
      </div>
  
      <!-- Bouton pour créer un nouveau profil -->
      <div class="flex justify-center mt-4">
        <button class="w-full max-w-xs btn btn-primary" (click)="createNewProfile()">Ajouter un profil</button>
      </div>
    </div>
  </div>
  