.profile-list-container {
    max-height: 60vh; // Définir une hauteur maximale pour la liste
    overflow-y: auto; // Permettre le défilement vertical
  }
  
  .profile-list-container ul li {
    border-radius: 0.5rem; /* Arrondir les bords des profils */
  }
  
  .profile-list-container ul li .btn-square {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profile-list-container ul li .btn-circle {
    border-radius: 50%;
  }
  