<div>
  <div class="avatar" (click)="onClick()" style="cursor: pointer;">
    <div class="w-24 h-24 rounded-full overflow-hidden">
      <img *ngIf="currentProfile?.photo" [src]="currentProfile?.photo" alt="Photo de profil" class="object-cover w-full h-full">
      <span *ngIf="!currentProfile?.photo" class="flex items-center justify-center w-full h-full bg-neutral text-neutral-content text-3xl">{{ currentProfile?.username | slice: 0:2 }}</span>
    </div>
  </div>

  <input type="file" id="fileInput" (change)="onFileChange($event)" class="hidden">
  
  <!-- Modal -->
  <div *ngIf="showModal" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
      <button class="absolute top-0 right-0 m-4 text-2xl" (click)="closeProfileSelector()">×</button>
      <app-profile-selector 
        (profileSelected)="onProfileSelected($event)"
        (profileEdited)="onProfileEdited($event)"
        (profileDeleted)="onProfileDeleted($event)"
        (close)="closeProfileSelector()">
      </app-profile-selector>
    </div>
</div>
