<div class="modal" [class.modal-open]="true">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Choisissez un profil</h3>
    <div *ngIf="profilesList.length > 0">
      <div *ngFor="let profile of profilesList" class="form-control">
        <label class="cursor-pointer label">
          <span class="label-text">{{ profile.username }}</span> 
          <input type="radio" [value]="profile" [(ngModel)]="selectedProfile" name="profile" class="radio radio-primary">
        </label>
      </div>
    </div>
    <div *ngIf="profilesList.length === 0">
      <p>Aucun profil existant. Veuillez créer un nouveau profil.</p>
    </div>
    <div class="modal-action">
      <button class="btn btn-primary" (click)="confirmSelection()">Sélectionner</button>
      <button class="btn btn-ghost" (click)="closeModal()">Fermer</button>
    </div>
  </div>
</div>
