<div
  class="fixed z-50 flex items-center justify-center w-full top-5"
  *ngIf="searchResults"
>
  <button
    class="btn sm:btn-sm md:btn-md lg:btn-lg btn-neutral btn-wide"
    (click)="toggleView()"
  >
    {{ showMap ? "Afficher la liste" : "Afficher la carte" }}
  </button>
</div>

<div class="flex flex-1">
  <div>
    <app-map
      *ngIf="showMap"
      class="flex flex-grow h-full"
      [results]="searchResults"
    ></app-map>
    
    <div class="absolute z-10 flex items-center top-4 right-20">
      <app-profile-photo></app-profile-photo>
      <app-tutorial></app-tutorial>
    </div>
  </div>

  <div class="flex flex-grow h-full" *ngIf="searchResults && !showMap">
    <app-erp-list class="overflow-y-auto"></app-erp-list>
  </div>
</div>

<app-search-form
  class="flex items-center justify-center bg-success text-info items-centerbg-success"
  (searchEvent)="onSearchResults($event)"
></app-search-form>
