<div #map class="w-screen flex flex-1 relative">
  <app-geolocation-button (locationDetected)="locationDetected.emit()" (locationToggled)="onLocationToggled($event)"
    class="absolute bottom-4 right-4 z-10"></app-geolocation-button>

  <div class="absolute top-4 right-10-percent z-10 flex items-center">
    <button class="btn btn-info btn-square mr-2 absolute bottom-0 right-24" (click)="showTutorial()">
      <i class="fas fa-info"></i>
    </button>
    <app-profile-photo></app-profile-photo>
  </div>
</div>