<div class="form-control">
  <fieldset>
    <legend class="font-bold label-text">Types d'handicap</legend>
    <div *ngFor="let handicap of handicapTypes" class="form-control">
      <label class="cursor-pointer label" for="handicap-{{handicap.id}}">
        <span class="label-text">{{ handicap.handicap }}</span>
        <input type="checkbox" [id]="'handicap-' + handicap.id" [checked]="isChecked(handicap)"
          (change)="onHandicapChange(handicap, $event)" class="checkbox checkbox-primary">
      </label>
    </div>
  </fieldset>

  <button class="mt-4 btn btn-primary text-white" (click)="toggleDispositifLieu($event)" aria-controls="dispositifLieuOptions">
    Afficher les préférences
  </button>

  <div *ngIf="showDispositifLieu" id="dispositifLieuOptions" class="mt-4 form-control">
    <fieldset>
      <legend class="font-bold label-text">Préférences</legend>
      <div *ngFor="let dispositiflieu of dispositifLieu" class="form-control">
        <label class="cursor-pointer label" for="dispositif-{{dispositiflieu.id}}">
          <span class="label-text">{{ dispositiflieu.name }}</span>
          <input type="checkbox" [id]="'dispositif-' + dispositiflieu.id"
            [checked]="isDispositifLieuChecked(dispositiflieu)"
            (change)="onDispositifLieuChange(dispositiflieu, $event)" class="checkbox checkbox-primary">
        </label>
      </div>
    </fieldset>
  </div>
</div>