<div class="form-control">
    <label class="label">
      <span class="label-text">Types d'handicap</span>
    </label>
    <div *ngFor="let handicap of handicapTypes" class="form-control">
      <label class="label cursor-pointer">
        <span class="label-text">{{ handicap.name }}</span> 
        <input type="checkbox" [checked]="isChecked(handicap)" (change)="onHandicapChange(handicap, $event)" class="checkbox checkbox-primary">
      </label>
    </div>
  
    <button class="btn btn-secondary mt-4" (click)="togglePreferences()">Afficher les préférences</button>
  
    <div *ngIf="showPreferences" class="form-control mt-4">
      <label class="label">
        <span class="label-text">Préférences</span>
      </label>
      <div *ngFor="let preference of preferences" class="form-control">
        <label class="label cursor-pointer">
          <span class="label-text">{{ preference.name }}</span> 
          <input type="checkbox" [checked]="isPreferenceChecked(preference)" (change)="onPreferenceChange(preference, $event)" class="checkbox checkbox-primary">
        </label>
      </div>
    </div>
  </div>
  