<div>
  <form #profileForm="ngForm" (ngSubmit)="createProfile()" class="form-control w-full max-w-xs bg-slate-100 m-8 p-4">
    <!-- Input for username with DaisyUI classes -->
    <label class="label">
      <span class="label-text">username</span>
    </label>
    <input type="text" [(ngModel)]="profile.username" name="username" placeholder="username" required
      class="input input-bordered w-full max-w-xs" #username="ngModel">
    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-red-500">
      username est requis.
    </div>

    <!-- Handicap Selector Component -->
    <app-handicap-selector 
      [(selectedHandicaps)]="profile.handicapList" 
      [(selectedDispositifLieu)]="profile.dispositifLieu"
      (selectedDispositifLieuChange)="profile.dispositifLieu = $event"></app-handicap-selector>
    <div *ngIf="profile.handicapList.length === 0 && (username.dirty || username.touched)" class="text-red-500">
      Au moins un type d'handicap est requis.
    </div>

    <!-- Photo de Profil -->
    <label class="label">
      <span class="label-text">Photo de Profil</span>
    </label>
    <div class="flex items-center">
      <input type="file" (change)="onFileChange($event)" #fileInput class="input input-bordered w-full max-w-xs">
      <div class="avatar ml-4" *ngIf="photoPreview">
        <div class="rounded-full w-24">
          <img [src]="photoPreview" alt="Aperçu de la photo de profil">
        </div>
      </div>
      <div class="avatar placeholder ml-4" *ngIf="!photoPreview">
        <div class="bg-neutral text-neutral-content rounded-full w-24">
          <span class="text-3xl">{{ profile.username | slice:0:2 }}</span>
        </div>
      </div>
    </div>

    <!-- System Preferences Component -->
    <label class="label mt-4">
      <span class="label-text">Préférences Système</span>
    </label>
    <app-system-preferences [(preferences)]="systemPreferences" (preferencesChange)="updateSystemPreferences($event)"></app-system-preferences>

    <!-- Submit button with DaisyUI class -->
    <button class="btn btn-primary mt-4" type="submit" [disabled]="profileForm.invalid">Créer</button>
  </form>

  <div class="flex gap-4 flex-col bg-slate-100 p-4 m-8 rounded-md">
    <div class="flex flex-grow gap-4" *ngFor="let profile of profiles; let i = index"
      [ngClass]="{'bg-green-500': profile.username === currentProfile?.username}">
      <div class="flex gap-4 flex-grow items-center">
        <div *ngIf="profile.photo" class="avatar">
          <div class="rounded-full w-24">
            <img [src]="profile.photo" alt="Photo de profil">
          </div>
        </div>
        <div *ngIf="!profile.photo" class="avatar placeholder">
          <div class="bg-neutral text-neutral-content rounded-full w-24">
            <span class="text-3xl">{{ profile.username | slice:0:2 }}</span>
          </div>
        </div>
        <p class="" (click)="selectProfile(profile, true)"><b>{{ profile.username }}</b></p>
        <p class="" (click)="selectProfile(profile, true)">
          <span *ngFor="let handicap of profile.handicapList">{{ handicap.handicap }} </span>
        </p>
        <p class="">
          <span *ngFor="let dispositif of profile.dispositifLieu">{{ dispositif.name }} </span>
        </p>
      </div>
      <div class="flex gap-4">
        <button class="btn btn-primary" (click)="editProfile(profile); $event.stopPropagation();">Modifier</button>
        <button class="btn btn-error" (click)="deleteProfile(profile.id); $event.stopPropagation();">Supprimer</button>
      </div>
    </div>
    <div *ngIf="profiles.length === 0 && currentProfile === null" class="alert alert-warning mt-4">
      Aucun profil disponible. Veuillez créer un nouveau profil.
    </div>
    <div *ngIf="profiles.length > 0 && currentProfile === null" class="alert alert-warning mt-4">
      Veuillez sélectionner un profil parmi les profils existants.
    </div>
  </div>

  <div *ngIf="showModal">
    <app-profile-selector-dialog [profiles]="profiles" (selectionConfirmed)="onProfileSelected($event)">
    </app-profile-selector-dialog>
  </div>
</div>
