.rounded-full {
    border-radius: 9999px;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .bg-white {
    background-color: white;
  }
  .text-blue-500 {
    color: #3b82f6;
  }
  .text-black {
    color: black;
  }
  .w-12 {
    width: 3rem;
  }
  .h-12 {
    height: 3rem;
  }
  
  
