<h1 mat-dialog-title *ngIf="!data?.message">Autoriser la Géolocalisation</h1>
<h1 mat-dialog-title *ngIf="data?.message">{{ data.message }}</h1>
<div mat-dialog-content *ngIf="!data?.message">
  <p>Cette application souhaite accéder à votre position actuelle pour afficher les lieux accessibles autour de vous.</p>
</div>
<div mat-dialog-actions *ngIf="!data?.message">
  <button mat-button (click)="onDecline()">Refuser</button>
  <button mat-button color="primary" (click)="onAccept()">Accepter</button>
</div>
<div mat-dialog-actions *ngIf="data?.message">
  <button mat-button color="primary" (click)="dialogRef.close()">OK</button>
</div>
