/* styles.scss */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.active {
  @apply text-primary;
}

.link-hover:hover {
  text-decoration: none;
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-pane, .leaflet-top, .leaflet-bottom {
  z-index: 0 !important;
}

.disable-map-interaction {
  pointer-events: none;
}

/* High Contrast Mode */
.high-contrast {
  background-color: black !important;
  color: white !important;
}

.high-contrast a {
  color: yellow !important;
}

.high-contrast button,
.high-contrast input,
.high-contrast select,
.high-contrast textarea {
  background-color: black !important;
  color: white !important;
  border: 2px solid yellow !important;
}

/* Protanopia (Red-green color blindness) */
.protanopia {
  filter: url('#protanopia');
}

/* Deuteranopia (Red-green color blindness) */
.deuteranopia {
  filter: url('#deuteranopia');
}

/* Tritanopia (Blue-yellow color blindness) */
.tritanopia {
  filter: url('#tritanopia');
}
